<div class="card">
  <div class="card-body">
    <%=link_to gov_module_permit_applications_business_permit_application_path(@business_permit_application) do %>
      <h3 class="title-up"><%= @business_permit_application.business_name %></h3>
      <small><i class="fa fa-map-marker"></i></small>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="card">

      <div class="card-body">
        <% current_locality.charges.for_business.each do |charge| %>
          <div class="row">
            <div class="col-md-5">
              <%= charge.name %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency charge.amount %>
            </div>
            <div class="col-md-2">
              <% if !@business.business_charges.cancelled.include?(charge) %>
                <%=simple_form_for [@business_permit_application, GovModule::BusinessPermitApplications::ChargeProcessing.new], url: :gov_module_permit_applications_business_permit_application_voucher_amounts do |f| %>
                  <%= f.input :charge_id, input_html: { value: charge.id  }, as: :hidden %>
                  <%= f.input :business_permit_application_id, input_html: { value: @business_permit_application.id }, as: :hidden %>
                  <% if !@business.charges.active_business_charges.include?(charge) %>
                    <%= f.submit "Add", class: "btn btn-primary float-right" %>
                  <% else %>
                    <span class='label bg-success'> ADDED </span>
                  <% end %>
                <% end %>
              <% else %>
                <span class="badge bg-success float-right"><i class="fa fa-plus-circle"></i> Added </span>
                <br>
                <br>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>

    <div class="col-md-5">
    <div class="card card-outline card-secondary">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h3 class="title-up"> Taxes and Fees </h3>
          </div>
          <div class="col-md-3">
            <%= link_to new_gov_module_permit_applications_business_permit_application_voucher_amount_path(@business_permit_application) do  %>
              <span class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="Add Fees and Taxes"><i class="fa fa-plus-circle"></i> Add</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'gov_module/permit_applications/business_permit_applications/partials/charges', business_permit_application: @business_permit_application %>
        <hr>
        <%= link_to "Proceed to Assesment", new_gov_module_permit_applications_business_permit_application_assessment_path(@business_permit_application), class: "btn btn-block btn-primary" %>
      </div>
    </div>
