<% content_for :title, "#{@tricycle.plate_number}" %>


    <h3 class="title-up"> Tricycle Details </h3>
    <div class="min-margin"></div>
    <div class="row min-margin">
      <div class="col-md-6">
        Make and Model
      </div>
      <div class="col-md-6">
        <%= tricycle.make_and_model %>
      </div>
    </div>
    <div class="row min-margin">
      <div class="col-md-6">
        Plate Number
      </div>
      <div class="col-md-6">
        <%= tricycle.plate_number %>
      </div>
    </div>
    <div class="row min-margin">
      <div class="col-md-6">
        MTOP Number
      </div>
      <div class="col-md-6">
        <%= tricycle.mtop_number %>
      </div>
    </div>
    <div class="row min-margin">
      <div class="col-md-6">
        Color
      </div>
      <div class="col-md-6">
        <%= tricycle.color %>
      </div>
    </div>

    <div class="row min-margin">
      <div class="col-md-6">
        Organization
      </div>
      <div class="col-md-6">
        <%= tricycle.tricycle_organization_name %>
      </div>
    </div>
    <hr>
      <h3 class='title-up'> Tricycle Fees </h3>
      <% @tricycle.tricycle_charges.each do |tricycle_charge| %>
        <div class='row'>
          <div class='col-md-6'>
            <%= tricycle_charge.tricycle_fee_name %>
          </div>
          <div class='col-dm-6'>
            <%= number_to_currency tricycle_charge.tricycle_fee_amount %>
          </div>
        </div>
        <br>
      <% end %>
    <%= link_to edit_gov_module_tricycle_path(@tricycle) do %>
      <span class="btn btn-outline-warning btn-sm" title="Edit Tricycle" data-toggle="tooltip"><i class="fa fa-edit"></i> Edit Tricycle </span>
    <% end %>


  
  </div>
</div>
