<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title">Applications </h3>
      </div>
      <div class="col-md-6">
        <%= link_to new_gov_module_permit_applications_tricycle_permit_application_path(taxpayer_id: @tricycle.taxpayer_owners.first.try(:id)) do %>
          <span class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="New Application"><i class="fa fa-plus-circle"></i> New Application </span>
        <% end %>
      </div>
    </div>
    <br>
    <% @tricycle.tricycle_permit_applications.each do |tricycle_permit_application| %>
      <div class="row min-margin">
        <div class="col-md-4">
          <%= tricycle_permit_application.application_date.strftime('%B %e, %Y') %>
        </div>
        <div class="col-md-4">
          <%= tricycle_permit_application.application_number %>
        </div>
        <div class="col-md-4">
          <%= link_to new_gov_module_permit_applications_tricycle_permit_application_permit_issuance_path(tricycle_permit_application) do  %>
            <span class="float-right btn btn-outline-primary btn-sm" data-toggle="tooltip" title="New Business Permit"><i class="fa fa-plus-circle"></i> Issue Permit
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>
    <h3 class="card-title"> Approved Permits </h3>
    <% @tricycle.tricycle_permits.each do |permit| %>
      <div class="row">
        <div class="col-md-6">
          <%= permit.permit_number %>
        </div>
        <div class="col-md-3">
          <%= permit.expiry_date.try(:year) %>
        </div>
        <div class="col-md-3">
          <%= link_to gov_module_tricycle_permit_path(permit, format: 'pdf') do %>
            <i class="fa fa-print"></i>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
