
<div class="row">
  <div class="col-md-7">
    <div class='card'>
      <div class="card-body">
         <h3 class="title-up"> Assessment Details </h3>

        <!-- Move to policy -->
        <% if current_user.bplo_officer? %>
          <% if !@business_permit_application.business_permits.present? && @business_permit_application.paid? %>
            <h3 class="title-up"> Permit Details </h3>
            <div class="row">
              <div class="col-md-6">
                <%= link_to new_gov_module_business_permit_application_permit_issuance_path(@business_permit_application) do %>
                  <span class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="New Business Permit"><i class="fa fa-plus-circle"></i> Issue Permit
                  </span>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @business_permit_application.business_permits.present? %>
                 <%= link_to 'View Permit', gov_module_business_permit_path(@business_permit_application.business_permits.recent), class: 'btn btn-outline-secondary btn-sm float-right' %>
          <% end %>
        <% end %>

        <hr>
        <h3 class="title-up">Business Details</h3>
        <div class="row min-margin">

          <div class="col-md-4">
            Application Date
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.application_date.strftime("%B %e, %Y") %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Application Number
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.application_number %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Taxpayer:
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.applicant.try(:full_name) %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Business Name:
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.business_name %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Mode of Payment:
          </div>
          <div class="col-md-8">
            <span class="badge bg-warning">
              <%= @business_permit_application.mode_of_payment.try(:titleize) %>
            </span>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Ownership Type:
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.ownership_type_title %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Tax Category
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.business_tax_category_title %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Employee Count
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.employee_count%>
          </div>
        </div>
        <hr>
        <h3 class="title-up"> Location </h3>
        <div class="row min-margin">
          <div class="col-md-4">
            Complete Address
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.complete_address %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Barangay
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.barangay_name %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4">
            Business Area
          </div>
          <div class="col-md-8">
            <%= @business_permit_application.business_area %> sq.m.
          </div>
        </div>
        <% if @business_permit_application.public_market.present? %>
          <div class="row min-margin">
            <div class="col-md-4">
              Public Market
            </div>
            <div class="col-md-8">
              <%= @business_permit_application.public_market_name %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              Tenancy Type
            </div>
            <div class="col-md-8">
              <%= @business_permit_application.tenancy_type %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='card'>
      <div class='card-body'>
        <div class="row">
          <div class="col-md-9">
            <h3 class="title-up"> Business Activities </h3>
          </div>
          <div class="col-md-3">
            <%= link_to "Add", new_gov_module_permit_applications_business_permit_application_business_activity_path(@business_permit_application), id: 'add-business-activities', class: 'btn btn-outline-primary float-right' %>
          </div>
        </div>
        <div class="min-margin"></div>
        <div class='table table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr>
                <th> QTY </th>
                <th> NAME </th>
                <th> Fee Amount</th>
                <th> Total Fee</th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @business.business_activities.not_cancelled.each do |business_activity| %>
                <tr>
                  <td><%= business_activity.quantity %></td>
                  <td><%= business_activity.name %><br>
                    <small class='text-muted'><%= business_activity.line_of_business.line_of_business_category.title %></small>

                  </td>
                  <td><%= number_to_currency business_activity.fee_amount %></td>
                  <td><%= number_to_currency business_activity.total_fee_amount %></td>

                  <td>
                    <%= link_to gov_module_permit_applications_business_permit_application_business_activity_path(@business_permit_application, business_activity), method: :delete, id: "#{business_activity.id}-cancel-business-activity" do %>
                      <span class="text-danger" data-toggle="tooltip" title="Remove Business Activity"><i class="fa fa-times"></i></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card-body'>
        <div class="row">
          <div class="col-md-9">
            <h3 class="title-up"> Gross Sales Details </h3>
          </div>
          <div class="col-md-3">
            <%= link_to 'Add Gross Sale', new_gov_module_permit_applications_business_permit_application_gross_sale_path(@business_permit_application), id: 'add-gross-sale', class: 'btn btn-outline-primary float-right' %>    
          </div>
        </div>
        <% @business_permit_application.gross_sales.each do |gross_sale| %>
          <div class="row min-margin">
            <div class="col-md-3">
              <%= number_to_currency gross_sale.amount %>
            </div>
            <div class="col-md-3">
              <%= gross_sale.calendar_year %>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">


                <%= link_to gov_module_permit_applications_business_permit_application_gross_sale_path(id: gross_sale.id, business_permit_application_id: @business_permit_application.id), method: :delete do %>
                  <span class="text-danger" data-toggle="tooltip" title="Delete Gross Sale"><i class="fa fa-times"></i></span>
                <% end %>

              </div>
          </div>
        <% end %>

        </div>
      </div>
      <div class='card'>
        <div class='card-body'>
        <div class="row">
          <div class="col-md-8">
            <h3 class="title-up">Capital Details </h3>
          </div>
          <div class="col-md-4">


            <%= link_to 'Add Capital', new_gov_module_permit_applications_business_permit_application_capital_path(@business_permit_application), id: "add-business-capital", class: 'btn btn-outline-primary float-right' %>
             
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Amount
          </div>
          <div class="col-md-5">
            <%= number_to_currency @business.business_capital.try(:capital_amount) %>
          </div>
        </div>
        <hr>
        <h3 class="title-up">Business Tax Payment Schedules </h3>
          <div class="row min-margin">
            <div class="col-md-6">
              Business Tax
            </div>
            <div class="col-md-6">
              <%= number_to_currency @business_permit_application.business_tax %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-6">
              Discount
            </div>
            <div class="col-md-6">
              <%= number_to_currency @business_permit_application.business_tax_discount %>
            </div>
          </div>
          <hr>
          <div class="row min-margin">
            <div class="col-md-6">
              Business Tax Receivables
            </div>
            <div class="col-md-6">
              <%= number_to_currency @business_permit_application.business_tax_receivable %>
            </div>
          </div>
          <br>
          <p> Schedules </p>
        <% @business_permit_application.business_tax_receivables.each do |schedule| %>
          <div class="row min-margin">
            <div class="col-md-6">
              <%= schedule.date.strftime("%B %e, %Y") %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency schedule.amount %>
            </div>
          </div>
        <% end %>
        <hr>

        <%= link_to gov_module_permit_applications_business_permit_application_path(@business_permit_application), method: :delete do %>
          <span class="text-danger float-left"><i class="fa fa-trash"></i> Cancel Application </span>
        <% end %>

        <%= link_to edit_gov_module_permit_applications_business_permit_application_path(@business_permit_application) do %>
          <span class="btn btn-outline-warning float-right"><i class="fa fa-edit"></i> Edit Application </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card card-outline card-secondary">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title-up"> Taxes and Fees </h3>
          </div>
          <div class="col-md-6">
<%= link_to 'Add Penalty', new_gov_module_permit_applications_business_permit_application_penalty_path(@business_permit_application), class: 'btn btn-outline-danger btn-sm float-right' %>
&nbsp; &nbsp;
            <%= link_to new_gov_module_permit_applications_business_permit_application_voucher_amount_path(@business_permit_application) do  %>
              <span class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="Add Fees and Taxes"><i class="fa fa-plus-circle"></i> Add Fees/Taxes </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">

        <%= render 'gov_module/permit_applications/business_permit_applications/partials/charges', business_permit_application: @business_permit_application %>
        
        <hr>


        <%= link_to "Proceed to Assessment", new_gov_module_permit_applications_business_permit_application_assessment_path(@business_permit_application), class: "btn btn-block btn-primary" %>
      </div>
    </div> 
