<div class="container">
  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-md-1'>
          <%= image_tag(taxpayer.avatar, class: 'img-circle', height: 60, width: 60) %>
        </div>
        <div class='col-md-10'>
          <h3 class='title-up min-margin'><%= taxpayer.full_name.upcase %></h3>
          <span class='text-muted'>
            <small>
              <i class='fa fa-map-marker'></i> <%= taxpayer.current_location_complete_address %> &nbsp; &nbsp;
              <i class='fa fa-phone'></i> <%= taxpayer.current_contact_number %>
            </small>
          </span>
        </div>
      </div>
      <nav class="nav nav-pills nav-pills-underline">
        <li class="nav-item">
          <%= link_to 'Info', gov_module_taxpayer_path(@taxpayer), class: "nav-link #{'active' if current_page?(gov_module_taxpayer_path(@taxpayer))}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Businesses', gov_module_taxpayer_businesses_path(@taxpayer), id: "#{taxpayer.id}-businesses", class: "nav-link #{'active' if current_page?(gov_module_taxpayer_businesses_path(@taxpayer))}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Tricycles', gov_module_taxpayer_tricycles_path(@taxpayer), id: "#{taxpayer.id}-tricycles", class: "nav-link #{'active' if current_page?(gov_module_taxpayer_tricycles_path(@taxpayer))}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Taxpayer Settings', gov_module_taxpayer_settings_path(@taxpayer), class: "nav-link #{'active' if current_page?(gov_module_taxpayer_settings_path(@taxpayer))}" %>
        </li>
      </nav>
      <br>
      <% if current_page? gov_module_taxpayer_path(@taxpayer) %>
        <%= render 'gov_module/taxpayers/partials/info' %>
      <% end %>
      <% if current_page? gov_module_taxpayer_businesses_path(@taxpayer) %>
        <%= render 'gov_module/taxpayers/partials/businesses' %>
      <% end %>
      <% if current_page? gov_module_taxpayer_tricycles_path(@taxpayer) %>
        <%= render 'gov_module/taxpayers/partials/tricycles' %>
      <% end %>
      <% if current_page? gov_module_taxpayer_settings_path(@taxpayer) %>
        <%= render 'gov_module/taxpayers/partials/settings', taxpayer: @taxpayer %>
      <% end %>
    </div>
  </div>
</div>