<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit Taxpayer Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @taxpayer, multiple: true, url: :gov_module_taxpayer do |f| %>
          <%= f.input :first_name %>
          <%= f.input :middle_name %>
          <%= f.input :last_name %>
          
          <%= f.input :sex, collection: Taxpayer.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.submit "Save Taxpayer", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
