<div class="card">
  <div class="card-body">
    <div class="row">
      <div class='col-md-3'>
        <h3 class='title-up'> Taxpayers </h3>
      </div>
      <div class="col-md-6">
        <%=form_tag gov_module_taxpayers_path, method: :get, id: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search taxpayer...", type: "search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to new_gov_module_taxpayer_path(@locality) do %>
          <span class="btn btn-primary float-right"><i class="fa fa-user-plus"> </i> New Taxpayer</span>
        <% end %>
      </div>
    </div>
    <br>
<div class="table table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Taxpayer </th>
        <th> Address </th>
        <th> Contact Number </th>
      </tr>
    </thead>
    <tbody>
      <% @taxpayers.each do |taxpayer| %>
        <tr>
          <td><%= link_to taxpayer.last_and_first_name, gov_module_taxpayer_path(taxpayer) %></td>
          <td><%= taxpayer.current_location_complete_address %></td>
          <td><%= taxpayer.current_contact_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
  
