<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="title-up">New Taxpayer Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @taxpayer, multiple: true, url: :gov_module_taxpayers do |f| %>
          <%= f.input :avatar, as: :file %>
          <%= f.input :first_name %>
          <%= f.input :middle_name %>
          <%= f.input :last_name %>

          <%= f.input :contact_number %>
          <%= f.input :email %>
          <%= f.input :tin_number %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :locality_id, input_html: { value: current_locality.id }, as: :hidden %>
          <%= f.input :sex, collection: Taxpayer.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <h4 class='title-up'> Address Details </h4>
          <%= f.input :barangay_id, collection: current_locality.barangays.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select'} %>
          <%= f.input :complete_address %>
          <%= f.submit "Save Taxpayer", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
