<div class="container">
  <div class="card">
    <div class="card-header">
      <% if @amountable.is_a?(Business) %>
        <%=render 'gov_module/businesses/partials/header', business: @amountable %>
      <% elsif @amountable.is_a?(Tricycle) %>
        <%=render 'gov_module/tricycles/partials/header', tricycle: @amountable %>
      <% end %>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= simple_form_for @voucher_amount, url: :gov_module_voucher_amounts do |f| %>
            <%= f.input :name %>
            <%= f.input :revenue_account_id, collection: Accounting::Revenue.all.map{|a| [a.name, a.id]} %>
            <%= f.input :amount %>
            <%= f.input :locality_id, input_html: { value: current_locality.id }, as: :hidden %>
            <%= f.input :amountable_id, input_html: { value: @amountable.id } %>
            <%= f.input :amountable_type, input_html: { value: @amountable.class.to_s } %>
            <%= f.submit "Add Charge", class: "btn btn-primary float-right" %>
          <% end %>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <h3 class="title-up">Taxes and Fees </h3>
          <p class="text-muted">List of taxes and fees applicable to this business </p>
          <% @amountable.voucher_amounts.each do |voucher_amount| %>
              <div class="row">
                <div class="col-md-7">
                  <span class="card-text">
                    <%= voucher_amount.name %>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="float-right">
                    <%= number_to_currency voucher_amount.amount %>
                  </span>
                </div>
                <div class="col-md-1">
                  <%=link_to gov_module_voucher_amount_path(id: voucher_amount.id, amountable_id: @amountable.id, amountable_type: @amountable.class.to_s), method: :delete do %>
                   <span class="text-danger" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i> </span>
                  <% end %>
                </div>
              </div>
              <br>
            <% end %>
          <hr>
          <div class="row">
            <div class="col-md-7">
              <h3 class="title-up"><b> TOTAL </b></h3>
            </div>
            <div class="col-md-5">
              <h3 class="title-up"><b><span class="float-right"> <%= number_to_currency @amountable.voucher_amounts.total %> </span></b></h3>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_revenue_account_id").select2({
      theme: "bootstrap",
      tags: true
    });
  });
</script>
