<div class="container">
  <div class="card">
    <div class="card-body">
      <div class='row'>
        <div class='col-md-2'>
          <%= image_tag("business_logo_placeholder.png", class: "rounded", height: 45, width: 45) %>
        </div>
        <div class='col-md-10'>
          <h3 class='title-up'><%= @business.name.upcase %></h3>
          <span class='text-muted'><i class="fa fa-map-marker"></i> <%= @business.current_location_complete_address %></small></span>
        </div>
      </div>
      <br>
        <nav class="nav nav-pills nav-pills-underline">
          <li class="nav-item">
            <%= link_to 'Info', gov_module_business_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Business Permits', gov_module_business_permits_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_permits_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Assessments', gov_module_business_assessments_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_assessments_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Settings', gov_module_business_settings_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_settings_path(@business))}" %>
          </li>
        </nav>
        <br />

        <% if current_page?(gov_module_business_path(@business)) %>
          <%= render 'gov_module/businesses/partials/info', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_permits_path(@business)) %>
          <%= render 'gov_module/businesses/partials/permits', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_payments_path(@business)) %>
          <%= render 'gov_module/businesses/partials/payments', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_assessments_path(@business)) %>
          <%= render 'gov_module/businesses/partials/assessments', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_settings_path(@business)) %>
          <%= render 'gov_module/businesses/partials/settings', business: @business %>
        <% end %>
      </div>
    </div>
  </div>
</div>
