<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="post">
          <div class="user-block">
            <%= image_tag("business_logo_placeholder.png", class: "rounded", height: 45, width: 45) %>

            <span class="username"><%= @business.name.upcase %></span>
             <p class="description"><i class="fa fa-map-marker"></i> <%= @business.current_location_complete_address %></small>
          </p>
          <%= link_to 'Edit', edit_gov_module_business_path(@business), class: "btn btn-warning btn-sm" %>

        </div>
        </div>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <%= link_to 'Profile', gov_module_business_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Permits', gov_module_business_permits_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_permits_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Assessments', gov_module_business_assessments_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_assessments_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Requirements', gov_module_business_requirements_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_requirements_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Payments', gov_module_business_payments_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_payments_path(@business))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Business Settings', gov_module_business_settings_path(@business), class: "nav-link #{'active' if current_page?(gov_module_business_settings_path(@business))}" %>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <% if current_page?(gov_module_business_path(@business)) %>
          <%= render 'gov_module/businesses/partials/profile', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_permits_path(@business)) %>
          <%= render 'gov_module/businesses/partials/permits', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_payments_path(@business)) %>
          <%= render 'gov_module/businesses/partials/payments', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_assessments_path(@business)) %>
          <%= render 'gov_module/businesses/partials/assessments', business: @business %>
        <% end %>
        <% if current_page?(gov_module_business_settings_path(@business)) %>
          <%= render 'gov_module/businesses/partials/settings', business: @business %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h3 class="card-title"> Taxes and Fees </h3>
          </div>
          <div class="col-md-3">
            <% if current_user.bplo_officer? %>  

            <%= link_to new_gov_module_voucher_amount_path(amountable_id: @business.id, amountable_type: @business.class.to_s) do %>
              <span class="btn btn-outline-primary btn-sm float-right"><i class="fa fa-plus"></i> Add </span>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'gov_module/businesses/partials/charges', business: @business %>
        <% if @business.voucher_amounts.without_voucher.present? %>
          <%= link_to 'Proceed to Assessment', new_gov_module_business_assessment_path(@business), class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Requirements </h3>
      </div>
      <div class="card-body">
        <% @business.required_documents.each do |required_document| %>
          <div class="row">
            <div class="col-md-8">
              <strong>
                <%= link_to required_document.title, gov_module_business_required_document_path(business_id: @business.id, id: required_document.id) %>
              </strong>
              <br>
              <p class="text-muted"><%= required_document.issuing_office_name %></p>
            </div>
            <div class="col-md-4">
              <% if required_document.verified?(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %>
                <span class="text-success"><i class="fa fa-toggle-on fa-2x text-primary"></i></span>
              <% else %>
                <%= link_to gov_module_business_required_document_verifications_path(business_id: @business.id, required_document_id: required_document.id), method: :create do %>
                  <span class=""><i class="fa fa-toggle-off fa-2x"></i> </span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
