<%=form_tag gov_module_tricycles_path, method: :get, id: "search-form" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search tricycle...", type: "search" %>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn") do %>
        <i class="fa fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>
<br>
<div class="table table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Plate # </th>
        <th>Operator </th>
        <th> Tricycle Organization </th>
      </tr>
    </thead>
    <tbody>
      <% @tricycles.each do |tricycle| %>
        <tr>
          <td><%= link_to tricycle.plate_number, gov_module_tricycle_path(tricycle) %></td>
          <td><%= tricycle.taxpayers_full_name %></td>
          <td><%= tricycle.tricycle_organization_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%==pagy_bootstrap_nav(@pagy) %>
</div>
