
  <%=form_tag gov_module_public_market_businesses_path(@public_market), method: :get, id: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search business...", type: "search" %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>
                  <i class="fa fa-search"></i> Search
                <% end %>
              </span>
            </div>
          <% end %>
    <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> Business Name </th>
              <th> Taxpayer </th>
              <th> Address </th>
              <th> Permit Status </th>
            </tr>
          </thead>
          <tbody>
            <% @businesses.each do |business| %>
            <tr>
              <td><%= link_to business.name, gov_module_business_path(business) %></td>
              <td><%= business.taxpayers_full_name %></td>
              <td><%= business.current_location_complete_address %></td>
              <td> <span class="badge bg-<%= business.badge_color(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year) %>"><%= business.business_permit_status(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year).try(:titleize) %></span></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) %>

      </div>
  </div>
</div>

