<div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>
          <%= image_tag("business_logo_placeholder.png", class: "rounded", height: 45, width: 45) %>
        </div>
        <div class='col-md-10'>
          <h3 class='title-up'><%= @business.name.upcase %></h3>
          <span class='text-muted'><i class="fa fa-map-marker"></i> <%= @business.current_location_complete_address %></small></span>
        </div>
      </div>
      <br>
    <h3 class='title-up'> Taxes and Fees </h3>
<% current_cart.voucher_amounts.each do |voucher_amount| %>
  <div class='row min-margin'>
    <div class='col-md-7'>
      <%= voucher_amount.name %>
    </div>
    <div class='col-md-4'>
      <span class='float-right'><%= number_to_currency voucher_amount.amount %></span>
    </div>
  </div>
<% end %>
<hr>
<% if current_cart.voucher_amounts.without_voucher.total > 0 %>

<div class='row min-margin'>
  <div class='col-md-6'>
    <h4 class='title-up'> TOTAL </h4>
  </div>
  <div class='col-md-5'>
    <h4 class='title-up float-right'><%= number_to_currency current_cart.voucher_amounts.total %></h4>
  </div>
</div>
</div>
<div class='card-footer'>
  <%= link_to 'Cancel', gov_module_business_assessment_line_item_path(id: @business.id), method: :delete, class: 'btn btn-link text-danger float-left' %>

  <%= link_to 'Proceed to Assessment', new_gov_module_business_assessment_path(@business), class: 'btn btn-primary float-right' %>
</div>
<% end %>