
<div class="row">
  <div class="col-md-8">
    <h3 class="title-up"> Permit Applications </h3>
  </div>
  <div class="col-md-4">
    <% if current_user.bplo_officer? %>
      <%= link_to new_gov_module_permit_applications_business_permit_application_path(business_id: @business, applicant_id: @business.taxpayer_owners.first.try(:id)) do %>
        <span class="float-right btn btn-primary" data-toggle="tooltip" title="New Business Permit Application"><i class="fa fa-plus-circle"></i> New Application
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class='table table-responsive'>
  <table class='table table-hover table-striped'>
    <thead>
      <tr>
        <th> Application Date </th>
        <th> Application Number </th>
        <th> Total Assessed </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
      <% @business.business_permit_applications.with_vouchers.each do |business_permit_application| %>
        <tr>
          <td><%= business_permit_application.application_date.strftime('%B %e, %Y') %></td>
          <td><%= business_permit_application.application_number %></td>
          <td><%= number_to_currency business_permit_application.voucher.voucher_amounts.credit.total %></td>
          <td>

          <% if business_permit_application.paid? %>
        <% if @business.business_permits.approved_at(from_date: business_permit_application.application_date.beginning_of_year, to_date: business_permit_application.application_date.end_of_year).blank? %>
        <%= link_to new_gov_module_business_permit_application_permit_issuance_path(business_permit_application) do %>
          <span class="float-right btn btn-outline-primary btn-sm" data-toggle="tooltip" title="New Business Permit"><i class="fa fa-plus-circle"></i> Issue Permit
          </span>
        <% end %>
        <% else %>
          <span class='badge bg-success'> Approved </span>
        <% end %>
      <% else %>
        <span class="badge bg-warning"> Not yet paid </span>
      <% end %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<h3 class="title-up"> Approved Permits </h3>
<div class='table table-responsive'>
  <table class='table table-hover table-striped'>
    <thead>
      <tr>
        <th> Permit Number </th>
        <th> Date Approved </th>
        <th> Expiry Date </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @business_permits.each do |permit| %>
        <tr>
          <td><%= permit.permit_number %></td>
          <td><%= permit.approval_date.strftime("%B %e, %Y") %></td>
          <td><%= permit.expiry_date.strftime('%B %e, %Y') %></td>
          <td>
            <% if !permit.cancelled? %>

      <%= link_to gov_module_business_permit_path(permit, format: 'pdf') do %>
        <span class="btn btn-outline-primary btn-sm"><i class="fa fa-print"></i> PDF </span>
      <% end %> &nbsp; &nbsp;
      <%= link_to edit_gov_module_business_permit_path(permit) do %>
        <span class="text-warning mr-2" data-toggle="tooltip" title="Edit Permit"><i class="fa fa-edit"></i></span>
      <% end %>
      <% end %>

      <% if permit.cancelled? %>
        <span class="text-danger"> Cancelled </span>
      <% else %>
      <% if current_user.bplo_officer? %>
        <%= link_to gov_module_permit_cancellations_path(permit), method: :create, data: { confirm: "Are you sure you want to cancel this permit? "} do %>
          <span class="text-danger" data-toggle="tooltip" title="Cancel Permit"><i class="fa fa-times"></i></span>
        <% end %>
      <% end %>
      <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
