<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Permit Box" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%= render 'layouts/shared/navbar' %>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-6">
    <%= render 'layouts/shared/brand' %>
    <%= render 'layouts/shared/sidebar' %>
  </aside>

  <div class="content-wrapper">
    <div class="content">
      <div class="content-header">

      </div>
      <div class="container-fluid">
        <%= render 'layouts/shared/flash' %>
        <%= yield %>
      </div>
    </div>
    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-block-down">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="https://adminlte.io">Catalyst</a>.</strong> All rights reserved.
  </footer>
</div>


</body>


</html>
